{%extends 'base.html'%} {% block content %}

{% if user.is_authenticated %}

<h1>All Records</h1>
  {% if user.is_authenticated %}
    <span class="text-muted link-underline">Currently login as {{ user.username }} <i>{% if user.is_superuser or user.is_staff %}(Staff){% else %}(User){% endif %}</i></span>
  {% endif %}
<br/>
{% if records %}
<div class="table-responsive">
  <table class="table table-hover  table-striped table-bordered">
      <thead class="table-dark text-center">
        <tr>
          <th scope="col" class="align-middle">ID</th>
          <th scope="col" class="align-middle">Name</th>
          <th scope="col" class="align-middle">Email</th>
          <th scope="col" class="align-middle">Phone</th>
          <th scope="col" class="align-middle">Address</th>
          <th scope="col" class="align-middle">City</th>
          <th scope="col" class="align-middle">State</th>
          <th scope="col" class="align-middle">Zip Code</th>
          <th scope="col" class="align-middle">Created At</th>
          {% if user.is_superuser or user.is_staff %}<th scope="col"  colspan="2" class="align-middle">Action</th>{% endif %}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for record in records %}
        <tr>
          <td class="align-middle text-center">{{ record.id }}</td>
          <td>{{ record }}</td>
          <td>{{ record.email }}</td>
          <td>{{ record.phone }}</td>
          <td>{{ record.address }}</td>
          <td>{{ record.city }}</td>
          <td>{{ record.state }}</td>
          <td>{{ record.zip_code }}</td>
          <td>{{ record.created_at }}</td>
          {% if user.is_superuser or user.is_staff %}
          <td class="text-center"><a href="{% url 'record' record.id %}" class="bg-black text-white btn">Edit</a></td>
          <td class="text-center"><a href="{% url 'delete_record' record.id %}" class="btn-danger btn" onclick="return confirm('Are you sure?')">Delete</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% endif %}

{% else %}

<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
  <br/>
  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
      <div class="mb-3">
        <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"
            required
        />
      </div>
      <div class="mb-3">
        <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            required
        />
      </div>
      <br/>
      <button type="submit" class="btn btn-secondary">Login</button>
  </form>
</div>

{%endif%}

{% endblock %}
