{%extends 'base.html'%} {% block content %}

<h1> Record Data for Costumer <strong>{{ costumer_record }}</strong></h1>
<br/>
<div class="table-responsive-sm">
    <table class="table table-hover  table-striped table-bordered">
            <tr>
                <th>Email</th>
                <td>{{ costumer_record.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ costumer_record.phone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ costumer_record.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ costumer_record.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ costumer_record.state }}</td>
            </tr>
            <tr>
                <th>Zip Code</th>
                <td>{{ costumer_record.zip_code }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ costumer_record.created_at }}</td>
            </tr>
    </table>
</div>
<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary text-white text-decoration-none">Back</a>
<a href="{% url 'home' %}" class="btn btn-danger text-white text-decoration-none">Delete</a>

{% endblock %}
